<h1>News</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="#/bigfoot">
      <img src="http://images.sciencetimes.com/data/images/full/1165/bigfoot.jpg">
      </a>
    </div>

    <div class="item">
      <a href="#/dracula">
      <img src="http://upload.wikimedia.org/wikipedia/en/2/29/Count_von_Count_kneeling.png">
      </a>
    </div>

    <div class="item">
      <a href="#/epicodus">
      <img src="http://s3-media3.fl.yelpcdn.com/bphoto/zJxfGp1yBXsH95ZdIK34oA/ls.jpg">
      </a>
    </div>

    <div class="item">
      <a href="#/portland">
      <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/ab/fd/02/filename-portland-japanese.jpg">
      </a>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- <div class='row'>
  <div class='col-md-8'>
    <a href="#/bigfoot">Bigfoot escapes!<img src="http://images.sciencetimes.com/data/images/full/1165/bigfoot.jpg"></a>
  </div>
  <div class='col-md-4'>
    <a href="#/dracula">Dracula sucks...blood.<img src="http://upload.wikimedia.org/wikipedia/en/2/29/Count_von_Count_kneeling.png"></a>
  </div>
  <div class='col-md-4'>
    <a href="#/epicodus">Epicodus graduates graduate!<img src="http://s3-media3.fl.yelpcdn.com/bphoto/zJxfGp1yBXsH95ZdIK34oA/ls.jpg"></a>
  </div>
  <div class='col-md-4'>
    <a href="#/portland">It rains in Portland.<img src="http://media-cdn.tripadvisor.com/media/photo-s/02/ab/fd/02/filename-portland-japanese.jpg"></a>
  </div>
  <div class='col-md-4'>
  </div>
</div> -->
